tqdm
numpy
pillow
omegaconf
matplotlib
tensorboard
torch~=2.1.1
torchvision~=0.16.1
einops==0.8.0
lpips==0.1.4
scikit-image~=0.24.0
git+https://github.com/toshas/torch-fidelity.git@master#egg=torch-fidelity
